body {
    background-color: lightblue;
  }

  input{
    margin-left: 0%;
    margin-top: 10px;

  }

  h1{
    text-align: center;
    color: black;
  }

  p{
    text-align: center;
    color: black;
  }
  
  input{
    width: 250px;
    height: 100px;
    color: black;
     
    
  }

  button{
    text-align: center;
    color: black;
  }

